 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .section-header {
     margin: 20px;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 ul {
     display: -webkit-flex;
     display: flex;
     list-style: none;
 }

 ul li a {
     color: black;
     margin: 0px 10px;
     padding: 10px;
     border-radius: 5px;
 }

 nav {
     max-width: 1180px;
     height: 80px;
     margin: 0px auto;
     display: -webkit-flex;
     display: flex;
     -ms-align-items: center;
     align-items: center;
 }

 .streak-section {
     display: flex;
     flex-direction: row;
     justify-content: center;
     justify-content: space-around;
 }

 .box {
     height: 50px;
     width: 50px;
     background-color: grey;
 }

 body {
     min-height: 100vh;
 }

 .container {
     max-width: 800px;
     margin: auto;
     padding: 10px;
 }

 .txtb {
     width: 100%;
     border: none;
     border-bottom: 2px solid black;
     padding: 10px;
     background: none;
     outline: none;
 }

 h3 {
     margin: 10px 0;
 }

 .task {
     width: 100%;
     background: grey;
     padding: 18px;
     margin: 6px 0;
     overflow: hidden;
 }

.task i {
    float: right;
    margin-left: 20px;
}

.task1{
     width: 100%;
     background: black;
     padding: 18px;
     margin: 6px 0;
     overflow: hidden;
}

.comp .task {
    background: black;
    color: white;
}